/* @import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Freehand&family=Kalam&family=Playfair+Display:ital@1&family=Roboto+Slab:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.header{
    position: sticky;
    top: 0;
    z-index: 4;
}
.img{
    /* background-image: url("https://ilizone.iul.ac.in/index_files/Administrative_Block_1_30.jpg"); */
    /* background-image:url("headerimg.jpg"); */
    background: linear-gradient(rgba(0,0,0,0.62),rgba(0,0,0,0.62)),url(./headerimg.jpg);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    font-family: 'Alkalami', serif;
    font-size: 1.5vw;
    /* filter: blur(1.5px); */
   
}

nav{
    margin: 2px;
    display: flex;
    align-items: center;
    height: 7vh;
    background-color: rgb(174, 38, 174);
    /* color: white; */
}
.centerint{
   
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2vw;
    color: white;
    font-weight: bold;
    cursor: pointer;
    
}
.centerint:hover{
    background-color: purple;
    transition: 1s;
}
.box{
    position: absolute;
    border: 1px solid white;
    color: white;
    font-size: 1.3vw;
    top: 72%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.box:hover{
    background-color: red;
    transition: 0.5s;
}
h1{
    text-transform: uppercase;
}
.box h2{
    margin: 7px;
    
}
.box a{
    text-decoration: none;
}

.header li{
    font-size: 1.5vw;
    display: inline;
    /* margin: 4vh ; */
    margin-left: 16vh;

    color: white;
}
.header li:hover{
    color: red;
    transition: 0.5s;
}

.navitem{
    position: relative;
    left: 80vh;
    cursor: pointer;
}
.navitem a{
    text-decoration: none;
}
.img{
    margin-top: 0;
}

/* .img img{
   width: 80%;
} */
.content h1{
    position: relative;
    right: 5vh;
    top: 3vh;
}
.content{
    position: relative;
    left: 15%;
    right: 50%;
    margin: 3.5vh;
    /* margin-bottom: 5px; */
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
     font-family: 'Roboto Slab', serif;
    /* box-shadow: 2px 2px 8px black; */
}
 .content p{
    margin: 4vh;
    margin-bottom: 2vh;
    /* margin-left: 10vh; */
    /* margin-right: 10vh; */
    font-family: 'Alkalami', serif;
} 
.content2{
   width: 69.9%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   position: relative;
   /* right: 50%; */
   left:32vh ;
     border-radius: 5px;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   font-family: 'Roboto Slab', serif;
}
.content3{
    margin: 7px;
    width: 77%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    font-family: 'Roboto Slab', serif;
     border-radius: 5px;
/*      box-shadow:  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
 }
 .content3 img:hover{
    /* width: 41%; */
    transition: all .5s ease;
 }
 .ncard{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
    position: relative;
    left: 12%;
    width: 77%;
/*     box-shadow:  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
 }

.img2{
    margin: 3px;
    padding: 3vh;
    width: 48%;
    height: 40%;
}
.para{
    width: 50%;
    margin: 7px;
}
  #btn{
    width: 10%;
    height: 10%;
  }
.timetable{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 10%; */
   /* border: 1px solid black; */
}
.timetable a{
    padding: 3vh;
    margin: 2vh;
    border: 1px solid red;
    text-decoration: none;
    font-size: 1.5vw;
}
.timetable a:hover{
    background-color: rgb(248, 63, 63);
    transition: 0.5s;
}
.vedio{
    display: flex;
    justify-content: center;
    margin-bottom: 6vh;
}

.detail{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scard{
    width: 25%;
    margin: 2vw;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    box-shadow:  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.scard img{
    width: 25%;
}
#det{
    position: absolute;
    left: 45%;
    /* margin: 3vh; */
    /* transform: translate(190%,-10%); */
}
footer{
    height: 22vh;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(179, 56, 179);
    color: white;
}
